@{
    ViewData["Title"] = "TP04";
}


<header class="header centrar-texto">
    <h1 class="titulo">TP Paquetes Turisticos</h1>

    <a href='@Url.Action("SelectPaquete")'><button class="button-24">Ver opciones de viaje</button></a>
</header>

    <section>

    <h3 class="subtitulo centrar-texto">Opciones de viaje creadas</h3>
    <div class="paquetes">

    @foreach (string key in ViewBag.Paquetes.Keys)
    {
    <div class="paquete">
    <div class="paquete__arriba">
        <h3 class="paquete__titulo">@key</h3>
        <a href='@Url.Action("BorrarPaquete", new{key=key})' class="paquete__borrar" type="submit" name=@key><i class="fa-solid fa-xmark"></i></a>
    </div>
         <h5 class="hotel__titulo">@ViewBag.Paquetes[key].hotel</h5>
        <img class="hotel__img" src="~/img/@(ViewBag.Paquetes[key].hotel).jpg" alt=@ViewBag.Paquetes[key].hotel>
        
        <h5 class="hotel__subtitulo">@ViewBag.Paquetes[key].aereo</h5>
        <h5 class="hotel__subtitulo">@ViewBag.Paquetes[key].excursion</h5>
    </div>
    }
    </div>
    </section>