@{
    ViewData["Title"] = "TP04";
}

<h1>TP Paquetes Turisticos</h1>

<a href='@Url.Action("SelectPaquete")'><span>Ver opciones de viaje</span></a>



<section>
    <h3>Opciones de viaje creadas</h1>
    <div class="paquetes">

    @foreach (string key in ViewBag.Paquetes.Keys)
    {
    <div class="paquete">
        <h3 class="paquete__titulo">@key</h3>
        
        
         <h5 class="hotel__titulo">@ViewBag.Paquetes[key].hotel</h5>
        <img class="hotel__img" src="~/img/@(ViewBag.Paquetes[key].hotel).jpg" alt=@ViewBag.Paquetes[key].hotel>
        
        <h5 class="hotel__subtitulo">@ViewBag.Paquetes[key].aereo</h5>
        <h5 class="hotel__subtitulo">@ViewBag.Paquetes[key].excursion</h5>
    </div>
    }
    </div>
        
</section>