<h1>@ViewBag.destino</h1>


<form action='@Url.Action("GuardarPaquete")'>

    <h4>Elegir destino</h4>
    
    <select name="destinoSel">
        @foreach (string item in ViewBag.destinos)
        {
            <option value=@item>@item</option>
        }
    </select>

    <h4>Elegir hotel</h4>

    <select name="hotelSel">
        @foreach (string item in ViewBag.hoteles)
        {
            <option value=@item>@item</option>
        }
    </select>

    <div class="imagenes">
        @foreach (string item in ViewBag.hoteles)
        {
            <div class="imagen">
                <img src=~/img/@(item).jpg class="imagen__imagen">
                <h2 class="imagen__titulo">@item</h2>
            </div>
        }
        
    </div>

    <h4>Elegir aereolinea</h4>    

    <select name="aereolineaSel">
        @foreach (string item in ViewBag.aereos)
        {
            <option value=@item>@item</option>
        }
    </select>

    <div class="imagenes">
        @foreach (string item in ViewBag.aereos)
        {
            <div class="imagen">
                <img src=~/img/@(item).jpg class="imagen__imagen">
                <h2 class="imagen__titulo">@item</h2>
            </div>
        }
    </div>

    <h4>Elegir excursion</h4>    

    <select name="excursionSel">
        @foreach (string item in ViewBag.excursiones)
        {
            <option value=@item>@item</option>
        }
    </select>

        <div class="imagenes">
        @foreach (string item in ViewBag.excursiones)
        {
            <div class="imagen">
                <img src=~/img/@(item).jpg class="imagen__imagen">
                <h2 class="imagen__titulo">@item</h2>
            </div>
        }
        
    </div>

    <button type="submit" class="boton">Enviar paquete</button>
</form>

